<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=13.95.142.170,1433;Initial Catalog=ArenaImpianti;User ID=sa;Password=brandellero;Network Library=DBMSSOCN;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>